<nav class="navbar navbar-expand-lg navbar-light bg-white align-items-center" id="navbar-container">
    <div class="container-fluid d-flex justify-content-between align-items-center ">



        <a class="navbar-brand me-4" href="/">
            <img src="/assets/logo/Frame 999.png" alt="HRIFY Logo">
        </a>
        
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav d-flex align-items-center gap-2">
                <li class="nav-item"><a class="nav-link" href="/services.html">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="/talentmanagement.html">Talent Management</a></li>

                <!-- Product Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button"
                        data-bs-toggle="dropdown">
                         Products & Solutions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="productDropdown">
                        <li>
                              <a class="dropdown-item" href="/Sonachala.html">Salenutpam</a></li>

                            <!-- <a class="dropdown-item" href="/salenutpam.html">Salenutpam</a></li> -->
                        <!-- <li><a class="dropdown-item" href="/pillamar.html">Pillamar</a></li> -->
                    </ul>
                </li>









  <!-- <li style="background-color: #f0ebe3;" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products & Solutions
            </a>
            <ul style="background-color: #f0ebe3; width: 320px; " class="dropdown-menu ">
              <li style="background-color: #f0ebe3;" class="dropdown-submenu">
                <a style="font-size: 15px;font-weight: 500;" class="dropdown-item p-3" href="Sonachala.html">
                  Sonachala </a>
              </li>
            </ul>
          </li> -->









                <li class="nav-item"><a class="nav-link" href="/Industries.html">Industries</a></li>
                <li class="nav-item"><a class="nav-link" href="/index.html">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/Hrify_opportunities.html">Opportunities</a></li>

                <!-- Careers Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="careersDropdown" role="button"
                        data-bs-toggle="dropdown">
                        Careers
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="careersDropdown">
                        <li><a class="dropdown-item" href="/Careers.html">Careers</a></li>
                        <li><a class="dropdown-item" href="/Internship.html">Internship</a></li>
                        <li><a class="dropdown-item" href="/referalprogram.html">Referral Program</a></li>
                        <li class="dropdown-item">
                            <a class="nav-link blinking-text" href="/Hrify_Academy.html">Academy</a>
                        </li>
                    </ul>
                </li>



                <!-- Solutions Dropdown -->

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="solutionsDropdown" role="button"
                        data-bs-toggle="dropdown">
                        our companies
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="solutionsDropdown">
                        <li><a class="dropdown-item" href="Careers.html">Sonachala</a></li>
                        <li><a class="dropdown-item" href="/">jk talent solutions</a></li>
                        <li><a class="dropdown-item" href="/">jk global it solutions</a></li>

                    </ul>
                </li> -->

                <!-- Mobile buttons -->
                <li class="nav-item d-lg-none" >
                    <a class="btn btn-primary d-block text-center mb-2" style="background-color: #097493;" href="/Contactus.html">Contact Us</a>
                    <a class="btn btn-primary d-block text-center" href="#" style="background-color: #097493;">Login</a>
                </li>
            </ul>
        </div>

        <!-- Desktop buttons -->
        <div class="d-none d-lg-flex gap-2">
            <a class="btn btn-primary" style="background-color: #097493;" href="/Trust.html">Trust</a>
            <a class="btn btn-primary" style="background-color: #097493;" href="/Contactus.html">Contact Us</a>
            <a class="btn btn-primary" href="https://hrify-7b064.web.app/" style="background-color: #097493;">Login</a>
        </div>
    </div>
</nav>
